src/workflows/logLead.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "logLead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c70862ba-c0d0-4c0a-a8b4-d594e9f6c62a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        400
      ],
      "webhookId": "371606d2-f5b2-462a-814a-ce26a428f966"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate lead data from webhook body\nconst body = $input.first().json.body;\n\n// Validate required fields\nconst required = ['name', 'phone', 'email'];\nconst missing = required.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  return [{\n    json: {\n      status: 'failure',\n      message: `Missing required fields: ${missing.join(', ')}`,\n      data: {\n        missing_fields: missing,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }];\n}\n\n// Prepare data for insertion\nreturn [{\n  json: {\n    name: body.name || '',\n    phone: body.phone || '',\n    email: body.email || '',\n    service_interest: body.service_interest || '',\n    notes: body.notes || '',\n    timestamp: body.timestamp || new Date().toISOString(),\n    ...body\n  }\n}];"
      },
      "id": "a0ccfe29-04f3-4125-b56d-f39dc92103ca",
      "name": "Validate & Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UgLqJzKgRzxgVTKEjKPEI7_pmrf9CGQhDct5UN86FzE",
          "mode": "list",
          "cachedResultName": "Hinsdale High-End Bathroom Remodeling and Reconstruction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UgLqJzKgRzxgVTKEjKPEI7_pmrf9CGQhDct5UN86FzE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 327101773,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UgLqJzKgRzxgVTKEjKPEI7_pmrf9CGQhDct5UN86FzE/edit#gid=327101773"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Phone": "={{ $json.phone }}",
            "Email": "={{ $json.email }}",
            "Preferred Contact Method": "={{ $json.preferred_contact_method }}",
            "Notes": "={{ $json.service_interest }}\n{{ $json.notes }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Status": "OPEN"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Contact Method",
              "displayName": "Preferred Contact Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        240,
        300
      ],
      "id": "499e025f-4ef4-4c12-bdbc-b08f4b36de02",
      "name": "Insert to Google Sheets",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S8SEj6XfWzKC8Ohj",
          "name": "Google Sheets"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Format success response\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'success',\n    message: 'Lead logged successfully.',\n    data: {\n      name: data.name,\n      phone: data.phone,\n      email: data.email,\n      service_interest: data.service_interest,\n      notes: data.notes,\n      timestamp: data.timestamp\n    }\n  }\n}];"
      },
      "id": "06195d1b-c3fc-42c3-a458-eac767f696ba",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle validation failures (from Validate node)\nconst data = $input.first().json;\n\nif (data.status === 'failure') {\n  return [{ json: data }];\n}\n\nreturn [];"
      },
      "id": "1b95897e-d97f-4ce9-9102-aa7267339274",
      "name": "Handle Validation Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle system errors (from Google Sheets node)\nconst error = $input.first().json.error || {};\n\nreturn [{\n  json: {\n    status: 'error',\n    message: error.message || 'A system error occurred while logging the lead.',\n    data: {\n      error_type: error.code || 'LEAD_LOG_ERROR',\n      timestamp: new Date().toISOString(),\n      retry_possible: true\n    }\n  }\n}];"
      },
      "id": "ee2c7776-64d2-49e9-ab48-23268c367e66",
      "name": "Handle System Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "50d3620d-465f-4243-a350-843f8d49dee1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Extract Data": {
      "main": [
        [
          {
            "node": "Insert to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Handle Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Google Sheets": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Handle System Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Validation Failure": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle System Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb6957930478fef911a2c66f712c2194cb787efb785d4054dd3abe6cedcf5702"
  }
}