src/workflows/timeAndDay.json
{
  "nodes": [
    {
      "parameters": {
        "path": "dayAndTime",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -20
      ],
      "id": "8e09c338-99b6-4527-b290-0eaa33176458",
      "name": "Webhook",
      "webhookId": "46d36bed-b753-453e-b44f-7011e7b98041"
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Chicago"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        160,
        -20
      ],
      "id": "0b69e2ed-281b-4108-936f-195aa31f410d",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        600,
        -20
      ],
      "id": "cc2affe5-efe7-4b56-abc4-268eb896871c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const dateData = $input.first().json;\n\n// Extract timezone from Date & Time node\nconst timezone = 'America/Chicago'; // From Date & Time node configuration\n\nreturn [{\n  json: {\n    status: 'success',\n    message: 'Datetime and timezone information retrieved.',\n    data: {\n      currentDate: dateData.currentDate,\n      timezone: timezone,\n      timezoneOffset: new Date().getTimezoneOffset() / -60\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        -20
      ],
      "id": "79ab596c-0279-4947-b710-89843b85ecf0",
      "name": "Format Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-args-lead",
              "name": "args",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        -20
      ],
      "id": "f0f5066f-bdf9-4ab1-bea2-4c6ac3767991",
      "name": "Validate & Extract Data"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Extract Data": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "fb6957930478fef911a2c66f712c2194cb787efb785d4054dd3abe6cedcf5702"
  }
}