src/n8n/answerQuestion.json
{
  "name": "answerQuestion",
  "nodes": [
    {
      "parameters": {
        "path": "answerQuestion",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [680, -180],
      "id": "1c14891a-694d-47a9-b222-f47ebe702fbf",
      "name": "Webhook",
      "webhookId": "54f54781-9ecb-4a13-9bc7-26454761b588"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dd79a510-f495-4d2a-901f-2fe1b9a00444",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, -180]
    },
    {
      "parameters": {
        "functionCode": "const errorMessage = $json.message || $json.error?.message || 'A system error occurred while answering question.';\nconst errorType = $json.code || $json.error?.code || 'ANSWER_ERROR';\n\nreturn [{json: {\n  status: 'error',\n  message: errorMessage,\n  data: {\n    error_type: errorType,\n    timestamp: new Date().toISOString(),\n    retry_possible: !errorType.includes('AUTH'),\n    technical_details: $json\n  }\n}}];"
      },
      "id": "307d2b98-ae1a-46fc-ab45-9ab59897f9f0",
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, -180]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ed4ed48-6803-4819-a4b2-a130cf740a0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb6957930478fef911a2c66f712c2194cb787efb785d4054dd3abe6cedcf5702"
  },
  "id": "bT6QKfJqgyP1bK8j",
  "tags": []
}
