src/n8n/cancelAppointment.json
{
  "name": "cancelAppointment",
  "nodes": [
    {
      "parameters": {
        "path": "cancelAppointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, -100],
      "id": "d56d13fc-dd74-4ecf-aacc-6528fca2ccb8",
      "name": "Webhook",
      "webhookId": "54f54781-9ecb-4a13-9bc7-26454761b588"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1cd6d71-bd68-4f6b-acfe-ed983c9cce39",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [240, -100]
    },
    {
      "parameters": {
        "functionCode": "const errorMessage = $json.message || $json.error?.message || 'A system error occurred while canceling an appointment.';\nconst errorType = $json.code || $json.error?.code || 'CANCEL_ERROR';\n\nreturn [{json: {\n  status: 'error',\n  message: errorMessage,\n  data: {\n    error_type: errorType,\n    timestamp: new Date().toISOString(),\n    retry_possible: !errorType.includes('AUTH'),\n    technical_details: $json\n  }\n}}];"
      },
      "id": "1187badd-b061-443e-9028-d99ce3265efc",
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [20, -100]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4efd58fc-44bd-452a-acba-edc6cf9507a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb6957930478fef911a2c66f712c2194cb787efb785d4054dd3abe6cedcf5702"
  },
  "id": "vgO2K5oRPxDfaQgO",
  "tags": []
}
