src/n8n/identifyAppointment.json
{
  "name": "identifyAppointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "identifyAppointment",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d0604dac-3f29-4a36-bce0-73c90c36a789",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "e5e7d3fe-e8f4-4f66-85e0-b9bd3e995765"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "b16200b3b0481c53ee04532493920b8ba603b382a2e0b6095d11156475414c0c@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Layer 7 System's Caroline Smith Salon Partnership"
        },
        "returnAll": true,
        "options": {
          "q": "={{$json.context || $json.query || $json.name || $json.phone || ''}}"
        }
      },
      "id": "search-gcal-events",
      "name": "Search GCal Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hoMR3q3gb9pxlxTs",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const events = items[0].json;\nif (!events || !events.length) {\n  return [{json: { status: 'failure', message: 'No matching appointments found.', data: { query: $json.query, context: $json.context || null } }}];\n}\nif (events.length > 1) {\n  return [{json: { status: 'failure', message: 'Multiple matching appointments found. Clarification required.', data: { matches: events.map(e => ({id: e.id, summary: e.summary, start: e.start, end: e.end})) } }}];\n}\nconst e = events[0];\nreturn [{json: { status: 'success', data: { appointment_id: e.id, summary: e.summary, start: e.start, end: e.end } }}];"
      },
      "id": "check-matches",
      "name": "Check Matches",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{json: {\n  status: 'error',\n  message: $json.message || 'Unknown error occurred while identifying appointment.',\n  data: $json\n}}];"
      },
      "id": "b843bd5e-1393-4871-b59e-c3f8755b7f4f",
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        160
      ]
    }
      ,
      {
        "parameters": {
          "options": {},
          "responseData": "={{$json}}"
        },
        "id": "respond-webhook-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          800,
          0
        ]
      }
  ],
  "pinData": {},
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Search GCal Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search GCal Events": {
      "main": [
        [
          {
            "node": "Check Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
      ,
      "Check Matches": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Handler": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0eef132d-e7bd-4e47-bfb2-1bfff4a2f530",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb6957930478fef911a2c66f712c2194cb787efb785d4054dd3abe6cedcf5702"
  },
  "id": "V07jnjICp1WCdXNQ",
  "tags": []
}