src/n8n/identifyAppointment.json
{
  "name": "identifyAppointment",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5e9e9f1e-f5cd-4016-93db-b1073bfb3ef9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        480,
        100
      ]
    },
    {
      "parameters": {
        "path": "identifyAppointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        100
      ],
      "id": "6b9a31f6-3a96-48e8-bc72-95cd3ae272db",
      "name": "Webhook",
      "webhookId": "54f54781-9ecb-4a13-9bc7-26454761b588"
    },
    {
      "parameters": {
        "functionCode": "const errorMessage = $json.message || $json.error?.message || 'A system error occurred while identifying appointment.';\nconst errorType = $json.code || $json.error?.code || 'IDENTIFY_APPOINTMENT_ERROR';\n\nreturn [{json: {\n  status: 'error',\n  message: errorMessage,\n  data: {\n    error_type: errorType,\n    timestamp: new Date().toISOString(),\n    retry_possible: !errorType.includes('AUTH'),\n    technical_details: $json\n  }\n}}];"
      },
      "id": "a9b12f8d-e270-4082-ac77-ea1ca3c04854",
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        260,
        100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da95669b-9f55-4c2e-965c-b4942a093772",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb6957930478fef911a2c66f712c2194cb787efb785d4054dd3abe6cedcf5702"
  },
  "id": "V07jnjICp1WCdXNQ",
  "tags": []
}