src/n8n/modifyAppointment.json
{
  "name": "modifyAppointment",
  "nodes": [
    {
      "parameters": {
        "path": "modifyAppointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "d8de19c1-8704-4a38-9a40-fc6fa5856eef",
      "name": "Webhook",
      "webhookId": "54f54781-9ecb-4a13-9bc7-26454761b588"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1e728ae6-e63d-448d-8e44-d716ef7bdf46",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        280,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const errorMessage = $json.message || $json.error?.message || 'A system error occurred while modifying an appointment.';\nconst errorType = $json.code || $json.error?.code || 'MODIFY_ERROR';\n\nreturn [{json: {\n  status: 'error',\n  message: errorMessage,\n  data: {\n    error_type: errorType,\n    timestamp: new Date().toISOString(),\n    retry_possible: !errorType.includes('AUTH'),\n    technical_details: $json\n  }\n}}];"
      },
      "id": "c5f4b090-33be-4d91-9d3f-4c9a6b7d1d3c",
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        60,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf808c95-6248-44d2-a0b1-5e14ec74e360",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb6957930478fef911a2c66f712c2194cb787efb785d4054dd3abe6cedcf5702"
  },
  "id": "3rRNvtMtGMv3Iiyi",
  "tags": []
}