src/n8n/timeAndDay.json
{
  "name": "timeAndDay",
  "nodes": [
    {
      "parameters": {
        "path": "dayAndTime",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-340, -60],
      "id": "644feef3-b2f2-4d59-ab12-f103c1dd06e0",
      "name": "Webhook",
      "webhookId": "46d36bed-b753-453e-b44f-7011e7b98041"
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Chicago"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [100, -60],
      "id": "5cb085ef-9f13-4f50-acc1-cffd96f49b5e",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [540, -60],
      "id": "c6df5f79-a42b-46fd-88e5-b98b350cfecc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "functionCode": "const dateData = $json;\n\n// Extract timezone from Date & Time node\nconst timezone = 'America/Chicago'; // From Date & Time node configuration\n\nreturn [{\n  json: {\n    status: 'success',\n    message: 'Datetime and timezone information retrieved.',\n    data: {\n      currentDate: dateData.currentDate,\n      timezone: timezone,\n      timezoneOffset: new Date().getTimezoneOffset() / -60\n    }\n  }\n}];"
      },
      "id": "3550ae52-45a7-47ae-bfd3-d2d12aa39f14",
      "name": "Format Success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [320, -60]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-args-lead",
              "name": "args",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-120, -60],
      "id": "a3405561-502c-4ade-932b-73f40d79ad69",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "108317dd-0644-4537-8c3b-19a09e7cc5f4",
  "meta": {
    "instanceId": "fb6957930478fef911a2c66f712c2194cb787efb785d4054dd3abe6cedcf5702"
  },
  "id": "vB50fM1CHCImC1wm",
  "tags": []
}
